div .card {
  display: flex;
  border: none;
  background: #ffd700;
  height: 100px;
  width: 100px;
  margin: 10px;
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
}
